/* group div will go out from flow */
.group {
    position: relative;
    margin-bottom: 30px;
}

input {
    display: block;
    font-size: 14px;
    padding: 10px 10px 10px 5px;
    background: #eee;
    color: #333;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
}

input:focus {
    outline: none;
}

/* label style */
label {
    color: #999;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
}

/* the label will be on top of input tag */
input:focus~label,
input:valid~label {
    top: -20px;
    font-size: 14px;
    color: #d9534f;
}